
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}



#root{
    text-align: center;
}

.poiskpage{
    min-width: 75%;
    display:inline-block;
}


.container{
    width: 1200px;
}
.videos{
    width: 100%;
    
}

.videoinfo{

    float : left;
    border: 2px solid teal; 
    padding: 15px;

}

.videonamestr{
    margin-bottom:20px ;
    padding: 5px;
}

.video{
    float:left;
    padding-top: 15px;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    width: 30%;
    height: 300px;
    display: inline-grid;
}
.avatar{
    max-width: 100%; 
    height: 200px; 
    margin: 0 auto;
}
.button{
    border-radius: 10px; 
    font-size: 10px;
    width: 50px; 
    color: whitesmoke; 
    background: #150f36; 
    height: 50px;
    border-right: 10px;
}

.inputdiv{
    min-width: 85%;
}

.input{
    min-width: 90%; 
    height: 50px;
    margin-top: 30px;
}
a{
    color: teal
}
a:visited{
    color: rgb(246,134,21)
}
.imgvideo2{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    display:block;


}
.img{
    height: 150px;
}

.ytka{
    height:250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.testcenter{

    margin-left: auto;
    margin-right: auto;    

}

.videocards {
    display: inline-flex;
    max-width: 900px;
    min-width: 75%;
}

.info{
    justify-content: center;
    min-width : 100%;
    display: inline-flex;
}
.details{
    display:block;
    text-align: left;
    padding: 0px;
    margin: 15px;
    border-radius: 10px;
    border : 2px solid rgb(15,129,149);
}
.first{
    display: none;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    min-width:100%
}

.buttondiv{
    margin-top: 50px;
}

.poisk{
    display:inline;
    margin-top: 50px;
}
.text-center{
    text-align: center;
}

.infoBlock{
    margin-top: 20px;
}

.imgvideo{
    width: 100%;
    border-radius: 30px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.textcenter{
    margin:auto;
}

.CircularProgress{
    color : rgb(246,134,21);
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}